/* Vazirmatn-Regular */
@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("../font/Vazirmatn-Regular.eot");
}
@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("../font/Vazirmatn-Regular.ttf");
}
@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("../font/Vazirmatn-Regular.woff");
}
@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("../font/Vazirmatn-Regular.woff2");
}
/* Vazirmatn-Medium */
@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("../font/Vazirmatn-Medium.eot");
}
@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("../font/Vazirmatn-Medium.ttf");
}
@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("../font/Vazirmatn-Medium.woff");
}
@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("../font/Vazirmatn-Medium.woff2");
}
/* IRANSansX-Medium */
@font-face {
  font-family: "IRANSansX-Medium";
  src: url("../font/IRANSansX-Medium.eot");
}
@font-face {
  font-family: "IRANSansX-Medium";
  src: url("../font/IRANSansX-Medium.ttf");
}
@font-face {
  font-family: "IRANSansX-Medium";
  src: url("../font/IRANSansX-Medium.woff");
}
@font-face {
  font-family: "IRANSansX-Medium";
  src: url("../font/IRANSansX-Medium.woff2");
}
